Repository env0/terraform-provider-env0, pull requests merged in 2021-06, with the labels that each got.

#71 Chore: Update README with how to run local version
  README.md
Labels: Pending Final Review

#52 Feat template project assignment
  client/http/client.go
  client/http/client_mock.go
  client/model.go
  client/template.go
  client/template_test.go
  env0/provider.go
  env0/resource_template_project_assignment.go
  tests/integration/007_template_project_assignment/conf.tf
  tests/integration/007_template_project_assignment/expected_outputs.json
  tests/integration/007_template_project_assignment/main.tf
Labels: Reviewed - awaiting author

#81 Chore: Add organization data tests
  env0/data_organization.go
  env0/data_organization_test.go
  env0/test_helpers.go
Labels: Pending Final Review

#82 Add tests for Credentials to project assignment
  client/api_client.go
  client/api_client_mock.go
  client/cloud_credentials_project_assignment.go
  client/cloud_credentials_project_assignment_test.go
  client/http/client_mock.go
  client/organization_test.go
  env0/resource_template_project_assignment.go
Labels: Work In Progress

#77 Docs config vars
  docs/resources/configuration_variable.md
  examples/resources/env0_configuration_variable/import.sh
Labels: Pending Final Review

#93 Chore imports
  docs/resources/aws_credentials.md
  docs/resources/project.md
  docs/resources/ssh_key.md
  docs/resources/template.md
  examples/resources/env0_aws_credentials/import.sh
  examples/resources/env0_project/import.sh
  examples/resources/env0_ssh_key/import.sh
  examples/resources/env0_template/import.sh
  examples/resources/env0_template/resource.tf
Labels: Pending Final Review

#78 Chore: provider file UTs
  docs/index.md
  env0/provider.go
  env0/provider_test.go
Labels: Pending Final Review

#91 Fix: project resource attributes drift detection
  env0/provider_test.go
  env0/resource_project.go
  env0/resource_project_test.go
Labels: pending final review

#94 chore: add tests for sshkey (resource + data)
  env0/data_sshkey_test.go
  env0/resource_sshkey.go
  env0/resource_sshkey_test.go
  env0/test_helpers.go
Labels: reviewed - awaiting author

#72 Add Credentials-Project assignment resource
  client/api_client.go
  client/api_client_mock.go
  client/cloud_credentials_project_assignment.go
  client/cloud_credentials_project_assignment_test.go
  client/model.go
  docs/resources/aws_credentials.md
  docs/resources/cloud_credentials_project_assignment.md
  env0/provider.go
  env0/resource_cloud_credentials_project_assignment.go
  examples/resources/env0_aws_credentials/resource.tf
  examples/resources/env0_cloud_credentials_project_assignment/resource.tf
  tests/integration/008_cloud_credentials_project_assignment/conf.tf
  tests/integration/008_cloud_credentials_project_assignment/expected_outputs.json
  tests/integration/008_cloud_credentials_project_assignment/main.tf
Labels: pending final review

#97 Add release drafter GH Action
  .github/workflows/release-drafter.yml
Labels: pending final review

#103 Chore helpers tf with other then string
  env0/data_organization_test.go
  env0/data_sshkey_test.go
  env0/resource_sshkey_test.go
  env0/test_helpers.go
Labels: pending final review

#102 chore: refactor to same structure
  client/client_test.go
  client/template_test.go
  env0/data_organization_test.go
  env0/data_sshkey_test.go
  env0/provider_test.go
  env0/resource_project_test.go
  env0/resource_sshkey_test.go
Labels: pending final review

#101 Chore ut resource configuration variable
  env0/resource_configuration_variable_test.go
Labels: ready to merge

#110 Fix: data project description attribute
  env0/data_project.go
Labels: ready to merge

#107 Fix: project description removal
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/project.go
  client/project_test.go
  client/template.go
  env0/resource_project.go
  env0/resource_project_test.go
  go.mod
Labels: ready to merge

#109 Fix: template ssh keys read
  env0/resource_template.go
Labels: pending final review

#114 Update config var to reuse run
  env0/resource_configuration_variable_test.go
Labels: pending final review

#115 fix: config variables: bugs with serialization + types
  client/configuration_variable_test.go
  client/model.go
  client/model_test.go
  env0/data_configuration_variable.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/test_helpers.go
Labels: pending final review

#113 UT cloud credentials project assignment
  client/api_client.go
  client/cloud_credentials_project_assignment.go
  client/cloud_credentials_project_assignment_test.go
  env0/resource_cloud_credentials_project_assignment.go
  env0/resource_cloud_credentials_project_assignment_test.go
Labels: ready to merge

#105 Chore: Add tests to template resource
  client/model.go
  env0/data_template.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge

#95 Add data template UT
  env0/data_template.go
  env0/data_template_test.go
  env0/provider.go
Labels: ready to merge

#116 Chore: UT: data - Configuration Variable - tests
  env0/data_configuration_variable_test.go
Labels: ready to merge

#98 Chore: Add project data source unit tests
  env0/data_project_test.go
Labels: pending final review

#111 Chore: add User-Agent header
  client/http/client.go
  client/http/client_test.go
  env0/provider.go
  env0/provider_test.go
  main.go
Labels: ready to merge

#117 Fix: template retry attributes
  client/model.go
  env0/data_configuration_variable_test.go
  env0/data_template.go
  env0/data_template_test.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: pending final review

#118 Run go fmt on CI
  .github/workflows/ci.yml
Labels: pending final review
