Repository env0/terraform-provider-env0, pull requests merged in 2021-08, with the labels that each got.

#129 Add support for gitlab templates
  client/model.go
  docs/data-sources/template.md
  docs/index.md
  docs/resources/template.md
  env0/data_template.go
  env0/resource_template.go
  env0/resource_template_test.go
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
Labels: reviewed - awaiting author

#131 Better docs for gitlab token
  docs/resources/template.md
  env0/resource_template.go
Labels: pending final review

#132 Fix: Terraform CI Unit Tests.
  go.mod
  go.sum
Labels: pending final review

#135 Fix Enum Configuration variables
  docs/data-sources/configuration_variable.md
  docs/resources/configuration_variable.md
  env0/data_configuration_variable.go
  env0/data_configuration_variable_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  examples/resources/env0_configuration_variable/resource.tf
  tests/integration/003_configuration_variable/expected_outputs.json
  tests/integration/003_configuration_variable/main.tf
Labels: pending final review

#136 Add team API calls
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/team.go
  client/team_test.go
  examples/provider/provider.tf
  examples/resources/env0_cloud_credentials_project_assignment/resource.tf
  examples/resources/env0_configuration_variable/resource.tf
Labels: ready to merge
