Repository env0/terraform-provider-env0, pull requests merged in 2021-12, with the labels that each got.

#172 Feat add deploy and update ttl to api client
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  client/environment_test.go
  client/model.go
Labels: ready to merge

#174 Feat add TTL to environment resource
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  client/environment_test.go
  client/model.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge

#176 Fix environment resource variables on create
  client/model.go
  env0/resource_environment.go
Labels: ready to merge

#175 feat add force destroy to environment resource
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: reviewed - awaiting author

#178 Expand Environment Data
  docs/data-sources/environment.md
  docs/resources/environment.md
  docs/resources/project_policy.md
  env0/data_environment.go
  env0/data_environment_test.go
  examples/data-sources/env0_environment/data-source.tf
  examples/resources/env0_environment/resource.tf
  go.mod
  go.sum
  tests/integration/012_environment/conf.tf
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: pending final review

#180 rename data `latest_deployment_log_id` to `deployment_id`
  env0/data_environment.go
  env0/data_environment_test.go
Labels: pending final review

#177 Fix: Environment Update should not omit empty fields
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: pending final review

#181 feat: import for environment resource
  env0/resource_environment.go
Labels: pending final review

#182 fest: Environment Resource - configuration variables read & delete
  README.md
  client/model.go
  docs/data-sources/environment.md
  docs/index.md
  env0/data_environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: pending final review

#185 Fix: We don't import the deployment_id when importing an environment
  env0/resource_environment.go
Labels: pending final review

#188 Fix - fix support in any cnange deploy
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: pending final review

#187 Chore- add-integration-test-to-environment-configuration-variables
  env0/data_configuration_variable_test.go
  tests/integration/012_environment/conf.tf
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: pending final review

#189 Fix: set workspace in environment create
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: pending final review

#190 Fix: Add glob_pattern validation when cd/PrPlan enabled
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: pending final review

#195 Feat: Add HCL configuration variable type
  client/api_client.go
  client/api_client_mock.go
  client/configuration_variable.go
  client/configuration_variable_test.go
  client/model.go
  env0/data_configuration_variable.go
  env0/data_configuration_variable_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  examples/data-sources/env0_environment/data-source.tf
Labels: pending final review
