Repository env0/terraform-provider-env0, pull requests merged in 2022-10, with the labels that each got.

#506 Fix: auto_deploy_on_path_changes_only has a default of true, and that…
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#511 Chore: fix readme markdown
  templates/index.md.tmpl
Labels: ready to merge, chore

#514 Fix: externalID-white-spaces
  tests/integration/006_aws_credentials/main.tf
  tests/integration/008_cloud_credentials_project_assignment/main.tf
  tests/integration/023_cost_credentials_project_assignment/main.tf
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, integration-tests, fix

#518 Fix: lexicographical sorting of configuration items
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#521 Chore: Get teams using name filter
  README.md
  client/api_client.go
  client/api_client_mock.go
  client/team.go
  env0/data_team_test.go
  env0/resource_team.go
Labels: ready to merge, provider, api-client, chore

#500 Feat: new custom role resource
  env0/provider.go
  env0/resource_custom_role.go
  env0/resource_custom_role_test.go
Labels: ready to merge, provider, feature, blocked
