Repository env0/terraform-provider-env0, pull requests merged in 2022-06, with the labels that each got.

#404 Chore: refactor credentials and cost
  client/cloud_credentials.go
  env0/credentials.go
  env0/data_cost_credentials.go
  env0/data_cost_credentials_test.go
  env0/data_credentials.go
  env0/provider.go
  env0/resource_aws_credentials.go
  env0/resource_azure_credentials.go
  env0/resource_gcp_credentials.go
Labels: ready to merge, provider, api-client, chore

#406 Chore: env0_template import issue github_installation_id
  env0/resource_template.go
  examples/resources/env0_environment/resource.tf
  examples/resources/env0_template/resource.tf
Labels: ready to merge, provider, examples, chore

#407 Chore: refactor credentials and cost
  env0/credentials.go
  env0/data_cost_credentials_test.go
  env0/data_credentials.go
  env0/data_credentials_test.go
  env0/provider.go
  env0/resource_aws_credentials.go
  env0/resource_azure_credentials.go
  env0/resource_gcp_credentials.go
Labels: ready to merge, provider, chore

#409 Chore: refactor credentials and cost
  env0/credentials.go
  env0/data_credentials.go
  env0/provider.go
  env0/resource_aws_credentials.go
  env0/resource_azure_credentials.go
  env0/resource_gcp_credentials.go
Labels: ready to merge, provider, chore

#410 Feat: refactor resources/data to use the new serialization/deserializ…
  DEVELOPMENT.md
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, feature

#411 Feat: support Non-Admin API key creation
  client/api_key.go
  env0/resource_api_key.go
  env0/resource_api_key_test.go
Labels: ready to merge, provider, api-client, feature

#417 Chore: use generics in pagination
  .github/workflows/ci.yml
  client/pagination.go
Labels: ready to merge, api-client, github-actions, chore

#412 Feat: support Non-Admin API key creation
  client/api_key.go
  env0/resource_api_key.go
  env0/resource_api_key_test.go
  tests/integration/020_api_key/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#414 Chore: refactor credentials and cost
  client/api_client.go
  client/api_client_mock.go
  client/cloud_credentials.go
  client/cloud_credentials_test.go
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  env0/resource_azure_credentials.go
  env0/resource_azure_credentials_test.go
  env0/resource_cost_credentials.go
  env0/resource_cost_credentials_test.go
  env0/resource_gcp_credentials.go
  env0/resource_gcp_credentials_test.go
Labels: ready to merge, provider, api-client, chore

#413 Feat: refactor resources/data to use the new serialization/deserializ…
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, feature

#420 Feat: environment resource does not support new templateless creation
  env0/resource_template.go
  env0/resource_template_test.go
  env0/templates.go
  env0/validators.go
Labels: ready to merge, provider, feature

#419 Feat: support Non-Admin API key creation
  client/api_client.go
  client/api_client_mock.go
  client/user_project_assignment.go
  client/user_project_assignment_test.go
  env0/resource_user_team_assignment.go
  tests/integration/020_api_key/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#421 Chore: better environment force_destroy docs
  env0/resource_environment.go
Labels: ready to merge, provider, chore

#422 Feat: support Non-Admin API key creation
  client/api_client.go
  client/api_client_mock.go
  client/user_project_assignment.go
  client/user_project_assignment_test.go
  env0/provider.go
  env0/resource_team_project_assignment.go
  env0/resource_user_project_assignment.go
  env0/resource_user_project_assignment_test.go
  env0/validators.go
  examples/resources/env0_api_key/resource.tf
  examples/resources/env0_user_project_assignment/resource.tf
  tests/integration/020_api_key/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#423 Feat: refactor resources/data to use the new serialization/deserializ…
  client/template.go
  env0/data_template.go
  env0/resource_template.go
  env0/resource_template_test.go
  env0/templates.go
  env0/utils.go
Labels: ready to merge, provider, api-client, feature

#427 Chore: Update configuration.environmentId docs
  env0/resource_configuration_variable.go
Labels: provider, chore

#429 Chore: deprecate wait_for
  env0/resource_environment.go
Labels: ready to merge, provider, chore

#428 Feat: support newly added template types - pulumi, k8s & workflow
  env0/data_template.go
  env0/resource_template_test.go
  env0/templates.go
Labels: ready to merge, provider, feature

#434 Chore: Use random names for all "team"s in harness tests
  tests/integration/009_team/expected_outputs.json
  tests/integration/009_team/main.tf
  tests/integration/010_team_project_assignment/main.tf
  tests/integration/020_api_key/main.tf
  tests/integration/021_teams/expected_outputs.json
  tests/integration/021_teams/main.tf
Labels: work in progress, ready to merge, integration-tests, chore

#433 Feat: support TTL settings in project policies
  client/project_policy.go
  env0/data_project_policy_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  tests/integration/011_policy/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature
