Repository env0/terraform-provider-env0, pull requests merged in 2022-04, with the labels that each got.

#315 Chore: Increase wait time in emv0_template data test
  tests/integration/004_template/main.tf
Labels: ready to merge, integration-tests, chore

#311 Feat: add api key resource
  env0/data_api_key.go
  env0/data_api_key_test.go
  env0/data_git_token.go
  env0/provider.go
  examples/data-sources/env0_api_key/data-source.tf
  examples/resources/env0_api_key/import.sh
  examples/resources/env0_api_key/resource.tf
  tests/integration/020_api_key/conf.tf
  tests/integration/020_api_key/expected_outputs.json
  tests/integration/020_api_key/main.tf
Labels: ready to merge, provider, integration-tests, examples

#313 Feat: add support for organization level policies
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/organization.go
  client/organization_test.go
Labels: ready to merge, api-client

#314 Chore: run acceptance tests in parallel
  env0/provider.go
  env0/provider_test.go
  env0/resource_azure_credentials_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_gcp_credentials_test.go
  env0/resource_template_test.go
  env0/utils.go
Labels: ready to merge, provider

#319 Feat: add organization policy resource
  env0/provider.go
  env0/resource_organization_policy.go
  env0/resource_organization_policy_test.go
  env0/utils.go
  examples/data-sources/env0_api_key/data-source.tf
  examples/resources/env0_api_key/resource.tf
  examples/resources/env0_organization_policy/resource.tf
  tests/integration/001_data_organization/main.tf
  tests/integration/001_organization/conf.tf
  tests/integration/001_organization/expected_outputs.json
  tests/integration/001_organization/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature

#320 Chore: remove model.go and split its contents to api files
  client/api_key.go
  client/cloud_credentials.go
  client/cloud_credentials_project_assignment.go
  client/common_models.go
  client/configuration_variable.go
  client/configuration_variable_test.go
  client/cost_credentials_project_assignment.go
  client/environment.go
  client/environment_scheduling.go
  client/git_token.go
  client/model.go
  client/model_test.go
  client/module.go
  client/notification.go
  client/notification_project_assignment.go
  client/organization.go
  client/project.go
  client/project_policy.go
  client/sshkey.go
  client/team.go
  client/team_project_assignment.go
  client/template.go
  client/template_test.go
  client/workflow_triggers.go
Labels: ready to merge, api-client, chore

#273 Chore: Add configuration for waiting for environment to finish deployment
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  docs/resources/environment.md
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs, chore

#322 Fix: Remove flaky template tests
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
Labels: ready to merge, integration-tests, fix

#323 Feat: add support for agent settings
  client/agent_project_assignment.go
  client/agent_project_assignment_test.go
  client/api_client.go
  client/api_client_mock.go
Labels: ready to merge, api-client, feature

#327 Chore: add README that explains how to create a new resource/data
  DEVELOPMENT.md
Labels: ready to merge, chore

#326 Bug: environment resource configuration field is affected by global s…
  client/configuration_variable.go
  client/configuration_variable_test.go
Labels: ready to merge, api-client

#329 Chore: don't sleep during acceptance tests
  env0/resource_environment.go
Labels: ready to merge, provider

#331 Chore: add proper release drafts
  .goreleaser.yml
Labels: ready to merge, chore

#333 Chore: add proper release drafts
  .goreleaser.yml
Labels: ready to merge, chore

#330 Feat: add support for agent settings
  client/agent_project_assignment.go
  client/agent_project_assignment_test.go
  client/api_client.go
  client/api_client_mock.go
  env0/data_agents.go
  env0/data_agents_test.go
  env0/provider.go
  env0/utils.go
  examples/resources/env0_agent_project_assignment/import.sh
  examples/resources/env0_agent_project_assignment/resource.tf
Labels: ready to merge, provider, api-client, examples, feature

#338 Feat: upgrade to go version 1.18
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  README.md
  examples/resources/env0_agent_project_assignment/resource.tf
  go.mod
  tests/integration/002_project/main.tf
Labels: ready to merge, integration-tests, examples, dependency-change, github-actions, feature

#317 Feat cloud cost credentials data - 218
  client/cloud_credentials.go
  client/cloud_credentials_test.go
  env0/data_cost_credentials.go
  env0/data_cost_credentials_test.go
  env0/provider.go
Labels: ready to merge, provider, api-client

#337 Fix: changing variable scope
  env0/resource_configuration_variable.go
Labels: ready to merge, provider, fix

#307 Feat cloud cost credentials - 218
  env0/provider.go
  env0/resource_cost_credentials.go
  env0/resource_cost_credentials_test.go
  env0/test_helpers.go
Labels: reviewed - awaiting author, ready to merge, provider

#334 Chore: add proper release drafts
  .github/workflows/pr-validation.yml
Labels: ready to merge, github-actions, chore

#344 Fix: typo in our example
  examples/resources/env0_environment_scheduling/resource.tf
Labels: ready to merge, examples, fix

#343 Feat: add data source for teams
  env0/data_teams.go
  env0/data_teams_test.go
  env0/provider.go
  examples/data-sources/env0_teams/data-source.tf
  tests/integration/021_teams/conf.tf
  tests/integration/021_teams/expected_outputs.json
  tests/integration/021_teams/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature

#345 Feat: add data source for templates
  env0/data_templates.go
  env0/data_templates_test.go
  env0/provider.go
  examples/data-sources/env0_templates/data-source.tf
  tests/integration/022_templates/conf.tf
  tests/integration/022_templates/expected_outputs.json
  tests/integration/022_templates/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature

#339 Chore: add proper release drafts
  .goreleaser.yml
Labels: ready to merge, chore

#351 Fix: Do not fail tests if there are multiple deleted templates with the same name
  tests/integration/022_templates/main.tf
Labels: ready to merge, integration-tests, fix
