Repository env0/terraform-provider-env0, pull requests merged in 2022-03, with the labels that each got.

#235 Change environment variable test to be on deployment scope
  go.mod
  go.sum
  tests/integration/012_environment/conf.tf
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: pending final review

#238 Fix broken mocks
  .github/workflows/ci.yml
  client/api_client_mock.go
  env0/data_configuration_variable_test.go
  env0/resource_environment_test.go
Labels: pending final review

#237 Add client support for drift detection
  client/api_client.go
  client/api_client_mock.go
  client/environment_drift_detection.go
  client/environment_drift_detection_test.go
  client/model.go
Labels: work in progress

#243 Remove unused const - `TTLTypeHours`
  client/model.go
Labels: pending final review

#245 Chore: PR Labeler
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: github-actions, chore

#242 Chore: document env0_team (#242)
  docs/resources/team.md
  examples/resources/env0_team/import.sh
  examples/resources/env0_team/resource.tf
Labels: pending final review, examples, docs

#244 Add drift detection resource
  docs/resources/environment_drift_detection.md
  env0/provider.go
  env0/resource_drift_detection.go
  env0/resource_drift_detection_test.go
  env0/resource_environment_scheduling.go
  env0/validators.go
  examples/resources/env0_environment_drift_detection/resource.tf
Labels: ready to merge, provider, examples, docs, feature

#226 Add drift handling
  client/model.go
  env0/resource_cloud_credentials_project_assignment.go
  env0/resource_cloud_credentials_project_assignment_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_project.go
  env0/resource_team_project_assignment.go
  env0/resource_team_project_assignment_test.go
  env0/resource_template.go
  env0/resource_template_project_assignment.go
  env0/resource_template_project_assignment_test.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, fix

#255 Auto assign action
  .github/auto_assign.yml
  .github/workflows/pr-auto-assign.yml
Labels: ready to merge, github-actions, chore

#249 Feat: Add support with AWS access key cred
  client/aws_credentials.go
  client/aws_credentials_test.go
  client/model.go
  docs/resources/aws_credentials.md
  env0/data_aws_credentials.go
  env0/data_aws_credentials_test.go
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  tests/integration/006_aws_credentials/expected_outputs.json
  tests/integration/006_aws_credentials/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs, feature

#256 Fix: Add missed typo in integration tests
  tests/integration/006_aws_credentials/main.tf
Labels: ready to merge

#247 Fix: env0_project data error message (#89)
  client/http/client.go
  client/http/errors.go
  client/http/errors_mock.go
  env0/data_project.go
  env0/data_project_test.go
Labels: ready to merge, provider, api-client, fix

#259 Feat: Add integration tests CI
  .github/workflows/integration-tests.yml
Labels: work in progress, ready to merge, github-actions, feature

#268 Fix: Update dependencies to fix generate-docs
  generate-docs.sh
  go.mod
  go.sum
  utils/external_tools.go
Labels: ready to merge, dependency-change, fix

#269 Chore: fix integration tests
  tests/integration/002_project/expected_outputs.json
  tests/integration/002_project/main.tf
Labels: pending final review, integration-tests, chore

#267 Chore: refine some GH actions
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yml
Labels: ready to merge, github-actions, chore

#254 Feat: add support for bitbucket templates (#199)
  client/model.go
  docs/resources/template.md
  env0/resource_template.go
  env0/resource_template_test.go
  examples/resources/env0_template/resource.tf
Labels: ready to merge, provider, api-client, examples, docs

#270 Chore: add comment about infinite TTL on environment docs
  docs/resources/environment.md
  env0/resource_environment.go
Labels: provider, chore

#271 Chore: filter deleted Templates from data
  env0/data_template.go
  env0/data_template_test.go
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, integration-tests, chore

#261 Feature terragrunt version for templates
  client/model.go
  client/template.go
  client/template_test.go
  docs/data-sources/template.md
  docs/resources/template.md
  env0/data_template.go
  env0/resource_template.go
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs, feature

#274 added example for terragrunt template in the examples
  docs/resources/template.md
  examples/resources/env0_template/resource.tf
Labels: ready to merge, examples, docs, chore

#276 Chore: fix docs generation updating PRs
  .github/workflows/docs.yml
  README.md
Labels: ready to merge, github-actions, chore

#260 Feat: add support for Terragrunt working directory (#233)
  client/model.go
  docs/resources/environment.md
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs

#275 Chore: better readme
  .github/env0_logo.svg
  README.md
Labels: pending final review, github-actions, chore

#263 Feat: project deletion with force-destroy flag (#67)
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  docs/resources/project.md
  env0/resource_environment_scheduling.go
  env0/resource_project.go
  env0/resource_project_test.go
  env0/resource_team_test.go
  tests/integration/012_environment/main.tf
  tests/integration/013_downstream_environments/main.tf
  tests/integration/014_environment_scheduling/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs, feature

#277 Feat: add notification resource (#265)
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/notification.go
  client/notification_test.go
  env0/data_notification.go
  env0/data_notification_test.go
  env0/provider.go
  env0/resource_notification.go
  env0/resource_notification_test.go
  env0/validators.go
  examples/data-sources/env0_notification/data-source.tf
  examples/resources/env0_azure_credentials/resource.tf
  examples/resources/env0_notification/import.sh
  examples/resources/env0_notification/resource.tf
  tests/integration/017_notification/conf.tf
  tests/integration/017_notification/expected_outputs.json
  tests/integration/017_notification/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples

#279 Feat: add module resource (#198)
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/module.go
  client/module_test.go
  env0/data_module.go
  env0/data_module_test.go
  env0/provider.go
  env0/resource_module.go
  env0/resource_module_test.go
  env0/resource_notification.go
  env0/resource_team.go
  env0/utils.go
  env0/utils_test.go
  env0/validators.go
  examples/data-sources/env0_module/data-source.tf
  examples/resources/env0_module/import.sh
  examples/resources/env0_module/resource.tf
  go.mod
  tests/integration/018_module/conf.tf
  tests/integration/018_module/expected_outputs.json
  tests/integration/018_module/main.tf
Labels: pending final review, provider, api-client, integration-tests, examples, dependency-change

#285 Feat: refactor notification resource code (#280)
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/notification.go
  client/notification_test.go
  env0/data_notification.go
  env0/resource_module.go
  env0/resource_notification.go
  env0/resource_notification_test.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, api-client, feature

#286 Feat: implement notification assignments for http client
  client/api_client.go
  client/api_client_mock.go
  client/model.go
  client/notification_project_assignment.go
  client/notification_project_assignment_test.go
Labels: api-client

#287 add api client and model for cost cred
  client/api_client.go
  client/api_client_mock.go
  client/cloud_credentials.go
  client/cloud_credentials_test.go
  client/cost_credentials_project_assignment.go
  client/cost_credentials_project_assignment_test.go
  client/model.go
Labels: ready to merge, api-client

#291 Feat: added documentation and integration tests
  examples/resources/env0_notification/resource.tf
  tests/integration/017_notification/main.tf
Labels: ready to merge, integration-tests, examples

#292 Fix: handle drift in configuration variables
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
Labels: ready to merge, provider

#297 Feat add cost cred project assignment #218
  env0/provider.go
  env0/resource_cost_credentials_project_assignment.go
  env0/resource_cost_credentials_project_assignment_test.go
Labels: ready to merge, provider, blocked

#302 Fix: handle drift in all resources
  env0/resource_team.go
  env0/resource_team_test.go
Labels: ready to merge, provider

#293 Fix - Add validation for case when isReadOnly and isRequired are true and value empty in config variable
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
Labels: ready to merge, provider

#303 Fix: handle drift in all resources
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  env0/resource_azure_credentials.go
  env0/resource_azure_credentials_test.go
  env0/resource_gcp_credentials.go
  env0/resource_gcp_credentials_test.go
Labels: ready to merge, provider

#300 Feat: add support for GitToken resource
  client/api_client.go
  client/api_client_mock.go
  client/git_token.go
  client/git_token_test.go
  client/model.go
Labels: ready to merge, api-client

#301 Feat: add support for API key resource
  client/api_client.go
  client/api_client_mock.go
  client/api_key.go
  client/api_key_test.go
  client/cloud_credentials.go
  client/cloud_credentials_test.go
  client/model.go
  env0/data_aws_credentials.go
  env0/data_aws_credentials_test.go
  env0/data_azure_credentials.go
  env0/data_azure_credentials_test.go
  env0/data_gcp_credentials.go
  env0/data_gcp_credentials_test.go
  env0/resource_aws_credentials_test.go
  env0/resource_azure_credentials_test.go
  env0/resource_gcp_credentials_test.go
Labels: ready to merge, provider, api-client

#289 Feat: added support for bitbucket server and github enterprise in tem…
  client/model.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client

#290 Fix different behavior when creating policy #201
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
Labels: ready to merge, provider

#305 Chore: Fix terragrunt integration test
  tests/integration/004_template/main.tf
Labels: pending final review, integration-tests, chore

#304 Feat: add git token resource
  env0/data_project.go
  env0/errors.go
  env0/provider.go
  env0/resource_aws_credentials.go
  env0/resource_azure_credentials.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/resource_gcp_credentials.go
  env0/resource_git_token.go
  env0/resource_git_token_test.go
  env0/resource_module.go
  env0/resource_module_test.go
  env0/resource_notification_project_assignment.go
  env0/resource_team.go
Labels: ready to merge, provider

#308 Feat: add the api key resource
  client/model.go
  env0/provider.go
  env0/resource_api_key.go
  env0/resource_api_key_test.go
  env0/resource_notification.go
Labels: ready to merge, provider, api-client

#310 Feat: add terraform version validation using a regex matcher
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider

#309 Feat: add git token resource
  env0/data_git_token.go
  env0/data_git_token_test.go
  env0/provider.go
  examples/data-sources/env0_git_token/data-source.tf
  examples/resources/env0_git_token/import.sh
  examples/resources/env0_git_token/resource.tf
  tests/integration/019_git_token/conf.tf
  tests/integration/019_git_token/expected_outputs.json
  tests/integration/019_git_token/main.tf
Labels: ready to merge, provider, integration-tests, examples

#312 Fix template integration tests `data` flakiness
  tests/integration/004_template/main.tf
Labels: ready to merge, integration-tests, chore
