Repository env0/terraform-provider-env0, pull requests merged in 2022-08, with the labels that each got.

#454 Feat: environment resource does not support new templateless creation
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
  env0/templates.go
Labels: ready to merge, provider, feature

#458 Feat: add Data source for self-hosted-agent helm values
  env0/data_agent_values.go
  env0/data_agent_values_test.go
  env0/provider.go
Labels: ready to merge, provider, feature

#462 Feat: refactor resources/data to use the new serialization/deserializ…
  client/configuration_variable.go
  client/environment.go
  client/project_policy.go
  env0/resource_configuration_variable.go
  env0/utils.go
Labels: ready to merge, provider, api-client, feature

#464 Feat: refactor resources/data to use the new serialization/deserializ…
  client/team_project_assignment.go
  env0/data_template.go
  env0/resource_sshkey.go
  env0/resource_team_project_assignment.go
  env0/resource_workflow_triggers.go
Labels: ready to merge, provider, api-client, feature

#463 Feat: refactor resources/data to use the new serialization/deserializ…
  env0/data_project.go
  env0/data_project_test.go
  env0/resource_project.go
  env0/resource_project_test.go
Labels: ready to merge, provider, feature

#466 Feat: getting API_Secret from env0_api_key resources
  client/api_key.go
  env0/resource_api_key.go
  env0/resource_api_key_test.go
  tests/integration/020_api_key/main.tf
  tests/integration/021_teams/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#467 Feat: refactor resources/data to use the new serialization/deserializ…
  env0/data_workflow_triggers.go
  env0/resource_configuration_variable.go
  env0/resource_environment_scheduling.go
Labels: ready to merge, provider, feature

#469 Feat: environment resource does not support new templateless creation
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  client/environment_test.go
  client/template.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
Labels: ready to merge, provider, api-client, feature

#468 Feat: add outputs attribute to the environment resources
  client/environment.go
  env0/data_environment.go
  env0/data_environment_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, feature

#475 Chore: Add template project assignment resources to tests
  tests/integration/012_environment/main.tf
  tests/integration/013_downstream_environments/main.tf
  tests/integration/014_environment_scheduling/main.tf
Labels: ready to merge, integration-tests, chore

#477 Chore: Fix flaky tests that use template project assignment resource
  tests/integration/012_environment/main.tf
  tests/integration/013_downstream_environments/main.tf
  tests/integration/014_environment_scheduling/main.tf
Labels: ready to merge, integration-tests, chore

#470 Feat: refactor resources/data to use the new serialization/deserializ…
  client/environment.go
  env0/data_configuration_variable.go
  env0/data_environment.go
  env0/resource_cloud_credentials_project_assignment.go
  env0/resource_cost_credentials.go
  env0/resource_cost_credentials_project_assignment.go
  env0/resource_team.go
Labels: ready to merge, provider, api-client, feature

#473 Feat: the environment configuration section is missing some attributes
  env0/resource_configuration_variable.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, feature

#474 Fix: CD and PR plan settings on environment are not applied correctly
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, fix

#481 Feat: fix is_self_hosted attribute of organization resource
  client/organization.go
  env0/data_organization_test.go
Labels: ready to merge, provider, api-client, feature

#479 Feat: refactor resources/data to use the new serialization/deserializ…
  client/environment_scheduling.go
  env0/resource_environment_scheduling.go
Labels: ready to merge, provider, api-client, feature

#482 Fix: TF module name uniqueness in integration tests
  tests/integration/018_module/main.tf
Labels: ready to merge, integration-tests, fix

#476 Feat: environment resource does not support new templateless creation
  client/environment.go
  env0/data_template.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
  env0/utils.go
  tests/integration/012_environment/main.tf
Labels: pending final review, provider, api-client, integration-tests, feature

#485 Feat: refactor resources/data to use the new serialization/deserializ…
  client/environment.go
  env0/resource_environment.go
Labels: ready to merge, provider, api-client, feature

#484 Fix: make sure all resource names are unique in integration tests
  tests/integration/002_project/main.tf
  tests/integration/003_configuration_variable/main.tf
  tests/integration/005_ssh_key/expected_outputs.json
  tests/integration/005_ssh_key/main.tf
  tests/integration/006_aws_credentials/expected_outputs.json
  tests/integration/006_aws_credentials/main.tf
  tests/integration/007_template_project_assignment/main.tf
  tests/integration/008_cloud_credentials_project_assignment/main.tf
  tests/integration/010_team_project_assignment/main.tf
  tests/integration/011_policy/main.tf
  tests/integration/013_downstream_environments/main.tf
  tests/integration/014_environment_scheduling/main.tf
  tests/integration/016_azure_credentials/expected_outputs.json
  tests/integration/016_azure_credentials/main.tf
  tests/integration/019_git_token/main.tf
  tests/integration/024_cloud_credentials/expected_outputs.json
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, integration-tests, fix

#486 Fix: env0_template_project_assignment resource is racing with env0_en…
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/utils.go
Labels: ready to merge, provider, fix

#488 Fix: diff issues with environment configuration variables
  client/configuration_variable.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, fix
