Repository env0/terraform-provider-env0, pull requests merged in 2022-07, with the labels that each got.

#432 Feat: environment resource does not support new templateless creation
  client/template.go
  env0/data_source_code_variables_test.go
  env0/data_template.go
  env0/resource_template.go
  env0/resource_template_test.go
  env0/templates.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, api-client, feature

#430 Chore: remove wait_for
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/expected_outputs.json
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, chore

#442 Feat: support newly added template type - cloudformation
  DEVELOPMENT.md
  client/template.go
  env0/resource_template.go
  env0/resource_template_test.go
  env0/templates.go
Labels: ready to merge, provider, api-client, feature

#443 Feat: refactoring for adding run-all support
  client/template.go
  client/template_test.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, feature

#444 Feat: refactor resources/data to use the new serialization/deserializ…
  .gitignore
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/utils.go
Labels: ready to merge, provider, api-client, feature

#445 Feat: add run-all support
  client/template.go
  env0/resource_template_test.go
  env0/templates.go
  go.mod
  go.sum
Labels: ready to merge, provider, api-client, dependency-change, feature

#446 Feat: environment resource does not support new templateless creation
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, feature

#451 Fix: use-another-gcp-sign-action
  .github/workflows/release.yml
Labels: ready to merge, github-actions, fix

#449 Fix: organizationId() hides the errors
  client/notification_test.go
  client/organization.go
Labels: ready to merge, api-client, fix

#455 Feat: data source to publish IP ranges used by env0
  env0/data_ip_ranges.go
  env0/data_ip_ranges_test.go
  env0/provider.go
  examples/data-sources/env0_ip_ranges/data-source.tf
Labels: ready to merge, provider, examples, feature

#456 Fix: Auth0 throttling issue on large amount of resources
  README.md
  client/agent_project_assignment.go
  client/api_client.go
  client/api_key.go
  client/cloud_credentials.go
  client/configuration_variable.go
  client/environment.go
  client/git_token.go
  client/module.go
  client/notification.go
  client/organization.go
  client/project.go
  client/sshkey.go
  client/team.go
  client/template.go
  client/user.go
  env0/provider.go
Labels: ready to merge, provider, api-client, fix

#453 Feat: add Data source for self-hosted-agent helm values
  client/agent.go
  client/agent_project_assignment.go
  client/agent_project_assignment_test.go
  client/agent_test.go
  client/api_client.go
  client/api_client_mock.go
Labels: pending final review, api-client, feature
