Repository env0/terraform-provider-env0, pull requests merged in 2022-09, with the labels that each got.

#491 Fix: on environment redeploy, BLUEPRINT and GLOBAL scope variables af…
  client/configuration_variable.go
  client/configuration_variable_test.go
  env0/resource_environment.go
Labels: ready to merge, provider, api-client, fix

#494 Feat: support OIDC organization policy settings
  env0/resource_organization_policy.go
Labels: ready to merge, provider, feature

#495 Fix - 401 errors from auth0 sue to cache misses when using user/pass
  client/http/client.go
  client/http/client_test.go
Labels: ready to merge, api-client, fix

#497 Chore: upgrade libraries and fix security issues
  client/http/client.go
  env0/resource_environment_scheduling_test.go
  go.mod
  go.sum
  main.go
  utils/test_reporter.go
Labels: ready to merge, provider, api-client, dependency-change, chore

#499 Feat: new custom role resource
  client/api_client.go
  client/api_client_mock.go
  client/role.go
  client/role_test.go
  client/team_project_assignment.go
  client/user_project_assignment.go
  env0/validators.go
Labels: ready to merge, provider, api-client, feature

#502 Fix: Revert PR495
  client/http/client.go
  client/http/client_test.go
Labels: ready to merge, api-client, chore

#501 Feat: allow update and create remote state backend
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, feature

#505 Fix: readResourceData does not work for bool or *bool fields
  client/module.go
  env0/resource_organization_policy_test.go
  env0/utils.go
Labels: ready to merge, provider, api-client, fix

#508 Fix: when updating without_template_settings terraform force environm…
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
Labels: ready to merge, provider, fix

#509 Fix: tf apply fails when switching from v1.2.4 to v1.2.5
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#510 Fix: second apply of environment 'without_template_settings' causes r…
  env0/resource_environment.go
Labels: pending final review, provider, fix
