Repository env0/terraform-provider-env0, pull requests merged in 2022-01, with the labels that each got.

#196 Feat: Adding JSON Format to configuration variables
  README.md
  client/configuration_variable_test.go
  client/model.go
  env0/data_configuration_variable.go
  env0/provider_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/resource_environment.go
  env0/validators.go
Labels: pending final review

#197 Chore: Update docs with variable Format
  docs/data-sources/configuration_variable.md
  docs/data-sources/environment.md
  docs/resources/configuration_variable.md
  docs/resources/environment.md
  examples/resources/env0_configuration_variable/resource.tf
Labels: pending final review

#200 Feat: add readonly required to configuration variable
  client/configuration_variable.go
  client/configuration_variable_test.go
  client/model.go
  docs/data-sources/configuration_variable.md
  docs/index.md
  docs/resources/configuration_variable.md
  env0/data_configuration_variable.go
  env0/data_configuration_variable_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
Labels: enhancement, pending final review

#202 Fix - delete resource manually corrupts provider
  build.sh
  client/model.go
  env0/resource_template.go
  env0/resource_template_project_assignment.go
  go.mod
  go.sum
  tests/harness.go
Labels: pending final review

#204 remove passing env0 vars to terraform in harness
  tests/harness.go
Labels: pending final review

#203 add unit-test for data_aws_credential:by id,by name
  env0/data_aws_credentials.go
  env0/data_aws_credentials_test.go
  env0/resource_aws_credentials_test.go
  env0/resource_template_project_assignment_test.go
Labels: pending final review

#210 add filter to data_project in byName func and update the tests
  env0/data_project.go
  env0/data_project_test.go
Labels: reviewed - awaiting author

#212 Workflow trigger resource
  client/model.go
  client/workflow_triggers.go
  client/workflow_triggers_test.go
  docs/data-sources/workflow_triggers.md
  docs/index.md
  docs/resources/workflow_triggers.md
  env0/data_workflow_triggers.go
  env0/data_workflow_triggers_test.go
  env0/provider.go
  env0/resource_workflow_triggers.go
  env0/resource_workflow_triggers_test.go
  env0/test_helpers.go
  examples/data-sources/env0_workflow_triggers/data-source.tf
  examples/resources/env0_workflow_triggers/resource.tf
  go.mod
  go.sum
  tests/integration/013_downstream_environments/conf.tf
  tests/integration/013_downstream_environments/expected_outputs.json
  tests/integration/013_downstream_environments/main.tf
Labels: pending final review

#214 Release 0.2.23
  docs/index.md
  generate-docs.sh
  go.mod
  go.sum
Labels: pending final review

#208 Feat: environment scheduling resource
  client/environment_scheduling.go
  client/environment_scheduling_test.go
  client/model.go
  docs/index.md
  docs/resources/environment_scheduling.md
  env0/provider.go
  env0/resource_environment_scheduling.go
  env0/resource_environment_scheduling_test.go
  examples/resources/env0_environment_scheduling/resource.tf
  go.mod
  go.sum
  tests/integration/014_environment_scheduling/conf.tf
  tests/integration/014_environment_scheduling/expected_outputs.json
  tests/integration/014_environment_scheduling/main.tf
Labels: reviewed - awaiting author
