Repository env0/terraform-provider-env0, pull requests merged in 2022-05, with the labels that each got.

#349 Chore: refine the main docs page
  docs/index.md
  env0/provider.go
Labels: pending final review, provider, docs, chore

#348 Chore: add proper release drafts
  .goreleaser.yml
Labels: ready to merge, chore

#355 Chore: main page documentation
  examples/provider/provider.tf
  templates/index.md.tmpl
Labels: examples, chore

#356 Fix: support fetching environments with the limit+offset feature
  client/client_test.go
  client/environment.go
  client/environment_test.go
  client/pagination.go
Labels: ready to merge, api-client, fix

#362 Chore: update docs from 0 to null
  env0/resource_project_policy.go
Labels: ready to merge, provider, chore

#360 Fix: deprecate environment_id field
  env0/resource_configuration_variable.go
Labels: ready to merge, provider

#361 Feat: add data source user
  client/api_client.go
  client/api_client_mock.go
  client/user.go
  client/user_test.go
  env0/data_user.go
  env0/data_user_test.go
  env0/provider.go
  examples/data-sources/env0_user/data-source.tf
Labels: ready to merge, provider, api-client, examples, feature

#365 Fix: error creating env0 resources
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
Labels: ready to merge, provider, fix

#369 Fix: env0_cost_credentials_project_assignment not working
  client/cost_credentials_project_assignment.go
  client/cost_credentials_project_assignment_test.go
  tests/integration/023_cost_credentials_project_assignment/conf.tf
  tests/integration/023_cost_credentials_project_assignment/expected_outputs.json
  tests/integration/023_cost_credentials_project_assignment/main.tf
Labels: ready to merge, api-client, integration-tests, fix

#370 Feat: support regex in configuration variables
  client/configuration_variable.go
  client/configuration_variable_test.go
  docs/data-sources/configuration_variable.md
  docs/resources/configuration_variable.md
  env0/data_configuration_variable.go
  env0/data_configuration_variable_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  tests/integration/003_configuration_variable/expected_outputs.json
  tests/integration/003_configuration_variable/main.tf
Labels: ready to merge, provider, api-client, integration-tests, docs, feature

#372 Chore: Add random string to gcp creds
  tests/integration/015_gcp_credentials/expected_outputs.json
  tests/integration/015_gcp_credentials/main.tf
Labels: ready to merge, integration-tests, chore

#373 Feat: data env0_template missing fields
  env0/data_template.go
  env0/data_template_test.go
Labels: ready to merge, provider, feature

#367 Feat: user team assignment
  client/team.go
  env0/provider.go
  env0/resource_user_team_assignment.go
  env0/resource_user_team_assignment_test.go
  examples/resources/env0_user_team_assignment/resource.tf
Labels: ready to merge, provider, api-client, examples, feature

#371 Fix: env0_aws_credentials - apply after import will delete+create
  DEVELOPMENT.md
  client/cloud_credentials.go
  client/errors.go
  env0/credentials.go
  env0/data_notification.go
  env0/errors.go
  env0/resource_agent_project_assignment.go
  env0/resource_api_key.go
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  env0/resource_git_token.go
  env0/resource_module.go
  env0/resource_notification.go
  env0/resource_notification_project_assignment.go
  env0/resource_organization_policy.go
  env0/utils.go
  env0/utils_test.go
  examples/resources/env0_aws_credentials/import.sh
Labels: ready to merge, provider, api-client, examples, fix

#368 Fix: env0_environment (Data Source) does not work when just the name …
  client/environment.go
  client/environment_test.go
Labels: ready to merge, api-client, fix

#378 Fix: env0_azure_credentials - apply after import will delete+create
  env0/resource_azure_credentials.go
  env0/resource_azure_credentials_test.go
  examples/resources/env0_azure_credentials/import.sh
Labels: ready to merge, provider, examples, fix

#375 Feat: add data source for getting a list of Cloud Credentials
  env0/data_cloud_credentials.go
  env0/data_cloud_credentials_test.go
  env0/provider.go
  examples/data-sources/env0_cloud_credentials/data-source.tf
  tests/integration/024_cloud_credentials/conf.tf
  tests/integration/024_cloud_credentials/expected_outputs.json
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature

#379 Fix: add random string to notification names to prevent name collision
  tests/integration/017_notification/main.tf
Labels: pending final review, integration-tests, fix

#380 Fix: env0_gcp_credentials - apply after import will delete+create
  env0/resource_gcp_credentials.go
  env0/resource_gcp_credentials_test.go
  examples/resources/env0_gcp_credentials/import.sh
Labels: ready to merge, provider, examples, fix

#383 Feat: refactor resources/data to use the new serialization/deserializ…
  client/configuration_variable.go
  client/configuration_variable_test.go
  client/environment.go
  env0/data_configuration_variable.go
  env0/data_configuration_variable_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, api-client, feature

#388 Feat: support resolving terraform version from code for template reso…
  env0/resource_template.go
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, integration-tests, fix

#387 Feat: refactor resources/data to use the new serialization/deserializ…
  env0/data_configuration_variable.go
  env0/data_cost_credentials.go
  env0/data_environment.go
  env0/data_gcp_credentials.go
  env0/data_organization.go
  env0/data_project.go
  env0/data_project_policy.go
  env0/data_sshkey.go
  env0/data_team.go
  env0/data_template.go
Labels: ready to merge, provider, feature

#391 Feat: refactor resources/data to use the new serialization/deserializ…
  env0/resource_cost_credentials.go
  env0/resource_drift_detection.go
  env0/resource_environment_scheduling.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  env0/validators.go
Labels: ready to merge, provider, feature

#392 Feat: env0_environment resource support for PR plan / apply and Alias…
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#400 Chore: Revert "Chore- remove gitlab-test for now"
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
Labels: pending final review, integration-tests

#395 Chore: refactor credentials and cost
  env0/credentials.go
  env0/data_aws_credentials.go
  env0/data_aws_credentials_test.go
  env0/data_azure_credentials.go
  env0/data_azure_credentials_test.go
  env0/data_credentials.go
  env0/data_credentials_test.go
  env0/data_gcp_credentials.go
  env0/data_gcp_credentials_test.go
  env0/provider.go
  env0/resource_aws_credentials_test.go
  env0/resource_azure_credentials_test.go
  env0/resource_gcp_credentials_test.go
Labels: ready to merge, provider, chore

#398 Feat: specify HCL in the env0_enviroment resource configuration
  examples/resources/env0_environment/resource.tf
Labels: ready to merge, examples, feature

#399 Fix: project Data Source not outputting name/id properties
  env0/data_project.go
Labels: ready to merge, provider, fix
