Repository env0/terraform-provider-env0, pull requests merged in 2023-11, with the labels that each got.

#739 Feat: clarify provider documentation
  env0/provider.go
  env0/provider_test.go
Labels: ready to merge, provider, feature

#741 Feat: add duration for env0_aws_credentials
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  tests/integration/006_aws_credentials/main.tf
Labels: ready to merge, provider, integration-tests, feature

#742 Feat: env0_environment with project_id property
  env0/data_environment.go
  env0/data_environment_test.go
  env0/resource_environment.go
Labels: ready to merge, provider, feature

#744 Chore: add more IPs to the list
  env0/data_ip_ranges.go
  env0/data_ip_ranges_test.go
Labels: ready to merge, provider

#748 Chore: modify provider documentation for api_key and api_secret
  env0/provider.go
Labels: ready to merge, provider, chore

#749 Fix: wrong IP address
  env0/data_ip_ranges.go
Labels: ready to merge, provider, fix

#746 Feat: data resource for Custom Flow
  env0/data_custom_flow.go
  env0/data_custom_flow_test.go
  env0/provider.go
  env0/resource_custom_flow.go
  tests/integration/027_custom_flow/main.tf
Labels: ready to merge, provider, integration-tests, feature

#752 Feat: rotating SSH Key Value causes a replace (with new ID) as oppose…
  client/api_client.go
  client/api_client_mock.go
  client/sshkey.go
  client/sshkey_test.go
  env0/resource_sshkey.go
  env0/resource_sshkey_test.go
Labels: ready to merge, provider, api-client, feature

#755 Feat: add new OIDC credentials creation and assigment (AWS Resource)
  client/cloud_credentials.go
  env0/credentials.go
  env0/provider.go
  env0/resource_aws_oidc_credentials.go
  env0/resource_aws_oidc_credentials_test.go
  examples/resources/env0_aws_oidc_credentials/import.sh
  examples/resources/env0_aws_oidc_credentials/resource.tf
  examples/resources/env0_cloud_credentials_project_assignment/resource.tf
  tests/integration/006_aws_credentials/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature
