Repository env0/terraform-provider-env0, pull requests merged in 2023-03, with the labels that each got.

#613 Chore: make template name unique in workflow environment integration tests
  tests/integration/012_environment/main.tf
Labels: integration-tests, chore

#611 Fix: workflow environment test used bad templates
  tests/integration/012_environment/main.tf
Labels: ready to merge, integration-tests, fix

#619 Fix: custom roles contain a wrong permission MANAGE_BILLINGS
  env0/resource_custom_role.go
  tests/integration/026_custom_role/main.tf
Labels: ready to merge, provider, integration-tests, fix

#616 Feat: support personal API keys
  client/api_client.go
  client/client_test.go
  client/notification_test.go
  client/organization.go
  client/organization_test.go
  env0/provider.go
Labels: ready to merge, provider, api-client, feature

#622 Fix: add support to new enforcePrCommenterPermissions policy in the o…
  client/organization.go
  client/organization_test.go
  env0/resource_organization_policy.go
  env0/resource_organization_policy_test.go
  tests/integration/001_organization/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#593 Feat: stop sending external_id for env0_aws_credentials resource
  client/cloud_credentials.go
  client/cloud_credentials_test.go
  env0/resource_aws_credentials.go
  env0/resource_aws_credentials_test.go
  env0/resource_cost_credentials.go
  env0/resource_cost_credentials_test.go
  env0/utils_test.go
  examples/resources/env0_aws_credentials/resource.tf
  examples/resources/env0_cloud_credentials_project_assignment/resource.tf
  tests/integration/006_aws_credentials/main.tf
  tests/integration/008_cloud_credentials_project_assignment/main.tf
  tests/integration/023_cost_credentials_project_assignment/main.tf
  tests/integration/024_cloud_credentials/main.tf
Labels: provider, api-client, integration-tests, examples, feature

#623 Feat: workflow trigger new resources
  client/api_client.go
  client/api_client_mock.go
  client/workflow_triggers.go
  client/workflow_triggers_test.go
Labels: ready to merge, api-client, feature

#625 chore: recreate workflow environment test
  tests/integration/012_environment/main.tf
Labels: ready to merge, integration-tests, chore

#627 Feat: workflow trigger new resources
  env0/provider.go
  env0/resource_workflow_trigger.go
  env0/resource_workflow_trigger_test.go
  env0/resource_workflow_triggers.go
  env0/resource_workflow_triggers_test.go
  examples/resources/env0_workflow_trigger/resource.tf
  tests/integration/013_downstream_environments/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature
