Repository env0/terraform-provider-env0, pull requests merged in 2023-07, with the labels that each got.

#670 Revert "Feat: run harness tests in parallel"
  tests/harness.go
Labels: ready to merge, integration-tests

#668 Feat: environment Role assignments for Team
  client/api_client.go
  client/api_client_mock.go
  client/team_environment_assignment.go
  client/team_environment_assignment_test.go
  env0/provider.go
  env0/resource_team_environment_assignment.go
  env0/resource_team_environment_assignment_test.go
  examples/resources/env0_team_environment_assignment/resource.tf
  examples/resources/env0_workflow_triggers copy/resource.tf
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#675 Feat: update TF provider with latest support
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, feature

#676 Feat: run harness parallel tests in parallel
  env0/data_template.go
  tests/harness.go
  tests/integration/021_teams/main.tf
  tests/integration/022_templates/expected_outputs.json
  tests/integration/022_templates/main.tf
Labels: ready to merge, provider, integration-tests, feature

#683 Fix: env0_environment import missing some fields
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, fix

#682 Fix: cannot create env0_user_team_assignment: validation error
  env0/resource_user_team_assignment.go
  env0/resource_user_team_assignment_test.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, fix

#684 Chore: add a description note for resource custom_flow name field
  env0/resource_custom_flow.go
Labels: ready to merge, provider, chore
