Repository env0/terraform-provider-env0, pull requests merged in 2023-05, with the labels that each got.

#643 Feat: add error property in latestDeploymentLog
  client/environment.go
Labels: ready to merge, api-client, feature

#639 Feat: ability to filter for parent project name in data project resource
  env0/data_project.go
  env0/data_project_test.go
  env0/resource_project.go
  tests/integration/002_project/main.tf
Labels: ready to merge, provider, integration-tests, feature

#647 Fix: Workflow environment creation integration test
  tests/integration/012_environment/main.tf
Labels: ready to merge, integration-tests, fix

#642 Feat: support gpg key resources
  client/api_client.go
  client/api_client_mock.go
  client/gpg_key.go
  client/gpg_key_test.go
  env0/data_gpg_key.go
  env0/data_gpg_key_test.go
  env0/errors.go
  env0/provider.go
  env0/resource_gpg_key.go
  env0/resource_gpg_key_test.go
  examples/resources/env0_gpg_key/import.sh
  examples/resources/env0_gpg_key/resource.tf
  tests/integration/028_gpg_key/conf.tf
  tests/integration/028_gpg_key/expected_outputs.json
  tests/integration/028_gpg_key/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#652 Feat: allow editing sub project parentId so it uses our new move proj…
  client/api_client.go
  client/api_client_mock.go
  client/project.go
  client/project_test.go
  env0/resource_project.go
  env0/resource_project_test.go
  tests/integration/002_project/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#651 Feat: add support for force env0 remote backend project policy
  client/project_policy.go
  env0/data_project_policy.go
  env0/data_project_policy_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
Labels: ready to merge, provider, api-client, feature

#653 Feat: support provider registry
  client/api_client.go
  client/api_client_mock.go
  client/provider.go
  client/provider_test.go
  env0/data_provider.go
  env0/data_provider_test.go
  env0/provider.go
  env0/resource_provider.go
  env0/resource_provider_test.go
  examples/resources/env0_gpg_key/import.sh
  examples/resources/env0_provider/import.sh
  examples/resources/env0_provider/resource.tf
  tests/integration/029_provider/conf.tf
  tests/integration/029_provider/expected_outputs.json
  tests/integration/029_provider/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature
