Repository env0/terraform-provider-env0, pull requests merged in 2023-10, with the labels that each got.

#716 Feat: Budget Resource (for project)
  client/project_budget.go
  env0/provider.go
  env0/resource_project_budget.go
  env0/resource_project_budget_test.go
  env0/test_helpers.go
  env0/utils.go
  examples/resources/env0_project_budget/resource.tf
  tests/integration/002_project/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#721 Fix: make cloud_credentials data test isolated
  env0/data_cloud_credentials.go
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, provider, integration-tests, fix

#718 Feat: add opentofu support
  client/template.go
  env0/resource_template.go
  env0/resource_template_test.go
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature, blocked

#730 Fix: unable to unset auto_deploy_by_custom_glob property of environme…
  client/environment.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, api-client, integration-tests, fix

#729 Fix: missing CUSTOM_ROLE roles
  env0/resource_custom_role.go
Labels: ready to merge, provider, fix

#725 Chore: add a manual approval step for a release
  .github/workflows/release.yml
Labels: ready to merge, github-actions, chore

#732 Chore: Create .terraform-registry with delete request for bad version
  .terraform-registry
Labels: ready to merge

#733 Feat: add "Budget exceeded" event name to env0_notification_project_a…
  env0/resource_notification_project_assignment.go
Labels: ready to merge, provider, feature

#727 Feat: add support to Drift Detection on env0_project_policy
  client/project_policy.go
  env0/provider.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  tests/integration/011_policy/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#735 Fix: integration test 025 is not isolated
  tests/integration/025_notifications/expected_outputs.json
  tests/integration/025_notifications/main.tf
Labels: ready to merge, integration-tests, fix
