Repository env0/terraform-provider-env0, pull requests merged in 2023-02, with the labels that each got.

#579 Feat: add support for subenvironments
  client/environment.go
  client/environment_test.go
  client/template.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#583 Feat: able to define is_archived at env0_environment resources
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: provider, api-client, integration-tests, feature

#585 Fix: resolve flaky integration tests for list*** api calls
  env0/provider.go
Labels: pending final review, provider, fix

#587 Feat: add new integrated vcs info to env0_environment data source
  env0/data_environment.go
  env0/data_environment_test.go
  env0/data_template.go
Labels: ready to merge, provider, feature

#592 Chore: better docs for secret reference usage in credentials on self-hosted organizations
  env0/resource_aws_credentials.go
  env0/resource_azure_credentials.go
  env0/resource_gcp_credentials.go
Labels: provider, chore

#589 Chore: updating README with creating template/VCS environment using master environment
  README.md
Labels: ready to merge, chore

#595 Fix: property isArchived is sent in patch request even if it was not …
  client/environment.go
  env0/data_environment_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_project.go
Labels: ready to merge, provider, api-client, fix

#588 Feat: custom project and organization TTL policy
  env0/resource_organization_policy.go
  env0/resource_organization_policy_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  env0/utils.go
  env0/utils_test.go
  env0/validators.go
  tests/integration/001_organization/main.tf
  tests/integration/011_policy/main.tf
  tests/integration/025_notifications/main.tf
Labels: ready to merge, provider, integration-tests, feature

#599 Feat: add support for Sub Projects to Project data and resource
  client/project.go
  env0/data_project.go
  env0/data_project_test.go
  env0/resource_project.go
  env0/resource_project_test.go
  tests/integration/002_project/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#605 Chore: change info level to warn level
  env0/provider.go
Labels: pending final review, provider, chore

#598 Chore: deprecate 'external_id'
  env0/resource_aws_credentials.go
  env0/resource_cost_credentials.go
Labels: ready to merge, provider, chore

#604 Chore: upgrade libraries for security issues
  go.mod
  go.sum
Labels: pending final review, dependency-change, chore

#602 Feat: add new permission to custom role resource
  env0/resource_custom_role.go
Labels: ready to merge, provider, feature

#607 Fix: env0 variables that are mark is_sensitive = true are shown in pl…
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#610 Fix: external_id is sent empty - causes 400 error
  client/cloud_credentials.go
  go.sum
Labels: ready to merge, api-client, dependency-change, fix
