Repository env0/terraform-provider-env0, pull requests merged in 2024-11, with the labels that each got.

#973 Chore: missing permissions for custom role
  env0/resource_custom_role.go
Labels: ready to merge, provider, chore

#976 Chore: Integration test for the bug not possible to use OpenTofu as b…
  tests/integration/036_environment_without_template_settings_terragrunt_opentofu/conf.tf
  tests/integration/036_environment_without_template_settings_terragrunt_opentofu/expected_outputs.json
  tests/integration/036_environment_without_template_settings_terragrunt_opentofu/main.tf
Labels: ready to merge, integration-tests, chore

#983 Fix: add pagination for teams api
  client/team.go
  client/team_test.go
Labels: ready to merge, api-client, fix

#980 Feat: Breaking Change - default terragrunt_tf_binary to 'opentofu'
  client/template.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, feature
