Repository env0/terraform-provider-env0, pull requests merged in 2024-07, with the labels that each got.

#887 Feat: support the permission EDIT_VCS_ENVIRONMENT
  env0/resource_custom_role.go
Labels: ready to merge, provider, feature

#871 Feat: add auto approve field to sub environment configuration
  client/environment.go
  client/remote_state_access_test.go
  client/user_environment_assignment_test.go
  env0/provider.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_project_test.go
  env0/resource_variable_set.go
  env0/utils_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#889 Fix: drift issues with variable sets
  client/configuration_set.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_variable_set_assignment.go
  env0/resource_variable_set_assignment_test.go
Labels: ready to merge, provider, api-client, fix

#893 Feat: support new apply-all environment property
  client/environment.go
  client/project_policy.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  tests/integration/011_policy/main.tf
Labels: pending final review, provider, api-client, integration-tests, feature

#896 Feat: add env0_project_policy option for Environment Output
  client/project_policy.go
  env0/resource_configuration_variable_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  tests/integration/011_policy/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#899 Feat: env0_environment_discovery_configuration resource is missing pa…
  client/environment_discovery.go
  env0/resource_environment_discovery_configuration.go
  env0/resource_environment_discovery_configuration_test.go
Labels: ready to merge, provider, api-client, feature

#905 Chore: Change description of `variable_sets` field on environment_resource
  docs/resources/environment.md
  env0/resource_environment.go
Labels: ready to merge, provider, docs, chore

#907 Fix: env0_environment does not redeploy when revision is changed in w…
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#903 Feat: add token_name as a field for data env0_template
  client/template.go
  env0/data_template.go
  env0/data_template_test.go
Labels: ready to merge, provider, api-client, feature

#911 Feat: cannot create env0_environment without_template_settings for Gi…
  client/template.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, feature

#912 Chore: make module_provider required
  env0/resource_module.go
Labels: ready to merge, provider, chore

#897 Feat: add data source for env0_variable_set
  client/api_client.go
  client/api_client_mock.go
  client/configuration_set.go
  client/configuration_set_test.go
  env0/data_variable_set.go
  env0/data_variable_set_test.go
  env0/provider.go
  env0/resource_team_organization_assignment.go
  examples/data-sources/env0_variable_set/data-source.tf
  tests/integration/033_variable_set/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#917 Feat: gitlab_project_id always shows drift
  client/template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, feature

#918 Chore: remove environment import
  client/api_client.go
  client/api_client_mock.go
  client/environment_import.go
  client/environment_import_test.go
  env0/provider.go
  env0/resource_environment.go
  env0/resource_environment_import.go
  env0/resource_environment_import_test.go
  examples/resources/env0_environment_import/resource.tf
  go.mod
  go.sum
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, dependency-change, chore

#921 Feat: drift in variable_sets of environment resource in every plan
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_variable_set_assignment.go
Labels: ready to merge, provider, fix
