Repository env0/terraform-provider-env0, pull requests merged in 2024-09, with the labels that each got.

#927 Fix: removing agent_project_assignment does not auto re-assign to the default agent
  client/agent_project_assignment.go
  client/agent_project_assignment_test.go
  env0/resource_agent_project_assignment.go
  env0/resource_agent_project_assignment_test.go
  examples/resources/env0_agent_project_assignment/import.sh
Labels: ready to merge, provider, api-client, examples, fix

#953 Fix: fail when trying to create an in_active environment
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#952 Feat: add "parent_project_path" or "hierarchy_by_name" to data "env0_…
  env0/data_project.go
  env0/data_project_test.go
  env0/resource_project.go
  tests/integration/002_project/main.tf
Labels: ready to merge, provider, integration-tests, feature

#950 Fix: do not retry for 4xx errors
  env0/provider.go
  env0/provider_test.go
Labels: ready to merge, provider, fix

#954 Fix: approve_plan_automatically attribute fails for sub_environment
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, integration-tests, fix

#957 Feat: add data provider for workflows thru data env0_environment
  env0/data_environment.go
  env0/data_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, integration-tests, feature

#958 Chore: Add assign reviewers GHA
  .github/workflows/assign-reviewers.yml
Labels: ready to merge, github-actions, chore

#955 Fix: configuration variable that overrides a template variable in env…
  client/configuration_variable.go
  client/configuration_variable_test.go
  client/environment.go
  env0/configuration_variable.go
  env0/data_configuration_variable.go
  env0/resource_environment.go
  env0/resource_environment_output_configuration_variable.go
Labels: ready to merge, provider, api-client, fix
