Repository env0/terraform-provider-env0, pull requests merged in 2024-01, with the labels that each got.

#777 Fix: typo in provider.tf
  env0/provider.go
Labels: ready to merge, provider, fix

#780 Fix: resty race condition sending body twice
  go.mod
  go.sum
Labels: ready to merge, dependency-change, fix

#776 Feat: support tagPrefix on modules
  client/module.go
  env0/resource_module.go
  env0/resource_module_test.go
  tests/integration/018_module/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#782 Feat: add new OIDC credentials creation and assigment (gcp resource)
  client/cloud_credentials.go
  env0/credentials.go
  env0/data_aws_oidc_credentials_test.go
  env0/data_azure_oidc_credentials_test.go
  env0/data_oidc_credentials_test.go
  env0/provider.go
  env0/resource_gcp_oidc_credentials.go
  env0/resource_gcp_oidc_credentials_test.go
  examples/data-sources/env0_aws_oidc_credentials/data-source.tf
  examples/data-sources/env0_azure_oidc_credentials/data-source.tf
  examples/data-sources/env0_gcp_oidc_credentials/data-source.tf
  examples/resources/env0_gcp_oidc_credentials/import.sh
  examples/resources/env0_gcp_oidc_credentials/resource.tf
  tests/integration/015_gcp_credentials/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#783 Feat: add new OIDC credentials creation and assigment (vault)
  client/cloud_credentials.go
  env0/credentials.go
  env0/data_oidc_credentials_test.go
  env0/provider.go
  env0/resource_vault_oidc_credentials.go
  env0/resource_vault_oidc_credentials_test.go
  examples/data-sources/env0_vault_oidc_credentials/data-source.tf
  examples/resources/env0_vault_oidc_credentials/import.sh
  examples/resources/env0_vault_oidc_credentials/resource.tf
  tests/integration/006_aws_credentials/main.tf
  tests/integration/015_gcp_credentials/main.tf
  tests/integration/016_azure_credentials/main.tf
  tests/integration/031_vault_credentials/conf.tf
  tests/integration/031_vault_credentials/expected_outputs.json
  tests/integration/031_vault_credentials/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#785 Feat: add support for running terragrunt with opentofu
  client/template.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, api-client, feature
