Repository env0/terraform-provider-env0, pull requests merged in 2024-03, with the labels that each got.

#799 Fix: string is not an available format for env0_configuration_variable
  env0/resource_configuration_variable.go
Labels: ready to merge, provider, fix

#801 Fix: switch documentation between 'agents' and 'agent_values' data so…
  examples/data-sources/env0_agent_values/data-source.tf
  examples/data-sources/env0_agents/data-source.tf
Labels: ready to merge, examples, fix

#804 Feat: add `prevent_auto_deploy` flag to create without deploy
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, feature

#802 Feat: Add support for Environment Discovery API
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  README.md
  client/api_client.go
  client/api_client_mock.go
  client/environment_discovery.go
  client/environment_discovery_test.go
  env0/data_project.go
  env0/data_project_policy_test.go
  env0/provider.go
  env0/resource_cost_credentials_test.go
  env0/resource_environment_discovery_configuration.go
  env0/resource_environment_discovery_configuration_test.go
  env0/resource_project.go
  env0/test_helpers.go
  examples/resources/env0_environment_discovery_configuration/import.sh
  examples/resources/env0_environment_discovery_configuration/resource.tf
  go.mod
  go.sum
  tests/integration/020_api_key/main.tf
  tests/integration/032_environment_discovery_configuration/conf.tf
  tests/integration/032_environment_discovery_configuration/expected_outputs.json
  tests/integration/032_environment_discovery_configuration/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, dependency-change, github-actions, feature

#809 Feat: use new approval policy API instead of blueprint api
  client/api_client.go
  client/api_client_mock.go
  client/approval_policy.go
  client/approval_policy_test.go
  env0/resource_approval_policy.go
  env0/resource_approval_policy_test.go
Labels: ready to merge, provider, api-client, feature

#811 Fix: replaced project_example with test_project like created in the example
  docs/resources/team_project_assignment.md
Labels: ready to merge, docs

#813 Feat: Organization Role assignments for Team
  client/api_client.go
  client/api_client_mock.go
  client/team_organization_assignment.go
  client/team_organization_assignment_test.go
  env0/provider.go
  env0/resource_team_organization_assignment.go
  env0/resource_team_organization_assignment_test.go
  examples/resources/env0_team_organization_assignment/resource.tf
  tests/integration/009_team/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#815 Fix: env0_template opentofu_version pattern match failure for RESOLVE…
  env0/resource_template.go
  env0/resource_template_test.go
  env0/validators.go
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, integration-tests, fix
