Repository env0/terraform-provider-env0, pull requests merged in 2024-08, with the labels that each got.

#925 Fix: Organization Policy can't be updated if max_ttl and default_ttl …
  client/organization.go
  client/organization_test.go
Labels: ready to merge, api-client, fix

#923 Feat: add resource aws_cloud_configuration
  client/api_client.go
  client/api_client_mock.go
  client/cloud_account.go
  client/cloud_account_test.go
  env0/cloud_configuration.go
  env0/errors.go
  env0/provider.go
  env0/resource_aws_cloud_configuration.go
  env0/resource_aws_cloud_configuration_test.go
  examples/resources/env0_aws_cloud_configuration/import.sh
  examples/resources/env0_aws_cloud_configuration/resource.tf
  tests/integration/035_aws_cloud_configuration/conf.tf
  tests/integration/035_aws_cloud_configuration/expected_outputs.json
  tests/integration/035_aws_cloud_configuration/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#929 Fix: using git token_id on Templates always assumes GitLab
  .golangci.yaml
  client/template.go
  env0/cloud_configuration.go
  env0/credentials.go
  env0/data_agent_values.go
  env0/data_api_key.go
  env0/data_cloud_credentials.go
  env0/data_configuration_variable.go
  env0/data_credentials.go
  env0/data_custom_roles.go
  env0/data_ip_ranges.go
  env0/data_notifications.go
  env0/data_organization.go
  env0/data_project.go
  env0/data_project_cloud_credentials.go
  env0/resource_approval_policy_test.go
  env0/resource_configuration_variable_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_team_organization_assignment.go
  env0/resource_template.go
  env0/resource_template_test.go
  env0/resource_variable_set.go
  env0/resource_variable_set_assignment.go
  env0/resource_workflow_triggers.go
  env0/utils.go
  env0/utils_test.go
Labels: ready to merge, provider, api-client, fix

#930 Feat: support new ansible template type
  client/template.go
  client/template_test.go
  env0/data_template.go
  env0/data_template_test.go
  env0/resource_template.go
  env0/resource_template_test.go
  env0/test_helpers.go
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#932 Chore: Optimize environments by name query
  README.md
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  client/environment_test.go
  env0/data_environment_test.go
  env0/resource_environment.go
Labels: ready to merge, provider, api-client, chore

#934 Feat: fetch Github Installation Id from env0
  .pre-commit-config.yaml
  client/api_client.go
  client/api_client_mock.go
  client/http/client_mock.go
  client/vcs_token_test.go
  client/vsc_token.go
  env0/data_github_installation_id.go
  env0/data_github_installation_id_test.go
  env0/provider.go
  examples/data-sources/env0_github_installation_id/data-source.tf
  tests/integration/004_template/expected_outputs.json
  tests/integration/004_template/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#937 Fix: drift in value of env0_configuration_variable in every plan
  client/configuration_variable.go
  env0/data_configuration_variable.go
  env0/data_source_code_variables.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/utils_test.go
  tests/harness.go
Labels: ready to merge, provider, api-client, integration-tests, fix

#939 Feat: add support for 'move environment' backend
  client/api_client.go
  client/api_client_mock.go
  client/environment.go
  client/environment_test.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#943 Chore: move env test is flaky - use never deployed env
  tests/integration/012_environment/main.tf
Labels: ready to merge, integration-tests, chore

#945 Feat: is_remote_apply_enabled not being sent to BE
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/utils.go
Labels: ready to merge, provider, api-client, feature
