Repository env0/terraform-provider-env0, pull requests merged in 2024-05, with the labels that each got.

#842 Fix: resource 'env0_environment_scheduling' does not pass destroy_cro…
  env0/resource_environment_scheduling.go
  tests/integration/014_environment_scheduling/main.tf
Labels: ready to merge, provider, integration-tests, fix

#843 Feat: Add Support for K8s Credentials - kubeconfig
  client/api_client.go
  client/api_client_mock.go
  client/kubernetes_credentials.go
  client/kubernetes_credentials_test.go
  env0/credentials.go
  env0/provider.go
  env0/resource_kubeconfig_credentials.go
  env0/resource_kubeconfig_credentials_test.go
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#849 Feat: add a retry mechanism for getSshKeyByName
  env0/data_sshkey.go
  env0/data_sshkey_test.go
  go.mod
  go.sum
Labels: ready to merge, provider, dependency-change, feature

#852 Chore: Update description of notification value
  env0/resource_notification.go
Labels: ready to merge, provider, chore

#854 Feat: fix the integration test
  client/notification.go
  env0/resource_notification.go
  env0/resource_notification_test.go
  tests/integration/025_notifications/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#853 Feat: add API calls for configuration set
  client/api_client.go
  client/api_client_mock.go
  client/configuration_set.go
  client/configuration_set_test.go
  client/configuration_variable.go
Labels: ready to merge, api-client, feature

#855 Chore: add environment import api client
  client/api_client.go
  client/api_client_mock.go
  client/environment_import.go
  client/environment_import_test.go
Labels: ready to merge, api-client, chore

#862 Feat: Add support to Get and Assign AWS EKS Credentials to a Project
  env0/data_kubernetes_credentials.go
  env0/data_kubernetes_credentials_test.go
  env0/provider.go
  examples/data-sources/env0_aws_eks_credentials/data-source.tf
  examples/resources/env0_aws_eks_credentials/import.sh
  examples/resources/env0_aws_eks_credentials/resource.tf
  tests/integration/024_cloud_credentials/main.tf
Labels: ready to merge, provider, integration-tests, examples, feature

#863 Chore: update env0_environment.revision documentation
  env0/resource_environment.go
Labels: ready to merge, provider, chore

#858 Feat: add an environment import resource
  client/environment_import.go
  client/environment_import_test.go
  env0/provider.go
  env0/resource_environment.go
  env0/resource_environment_import.go
  env0/resource_environment_import_test.go
  examples/resources/env0_environment_import/resource.tf
  tests/integration/012_environment/main.tf
Labels: pending final review, provider, api-client, integration-tests, examples, feature

#868 Fix: openTofu version is missing when creating a Terragrunt env causi…
  client/configuration_set_test.go
  client/template.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, fix
