Repository env0/terraform-provider-env0, pull requests merged in 2024-06, with the labels that each got.

#870 Feat: add support for variable set assignment resource
  client/api_client.go
  client/api_client_mock.go
  client/configuration_set_assignment.go
  client/configuration_set_assignment_test.go
  env0/provider.go
  env0/resource_variable_set_assignment.go
  env0/resource_variable_set_assignment_test.go
  examples/resources/env0_variable_set/resource.tf
  tests/integration/033_variable_set/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature

#866 Chore: add soft delete to configuration variable
  client/api_client.go
  client/api_client_mock.go
  client/environment_import.go
  client/environment_import_test.go
  env0/resource_configuration_variable.go
  env0/resource_configuration_variable_test.go
  env0/resource_environment_import.go
  env0/resource_environment_import_test.go
Labels: ready to merge, provider, api-client, chore

#872 Feat: importing templateless environment causes the configuration to …
  client/environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  env0/resource_template.go
Labels: ready to merge, provider, api-client, feature

#874 Fix: configuration Variable in Workflow drift
  client/configuration_variable.go
Labels: ready to merge, api-client, fix

#875 Fix: removing configuration from sub_environment_configuration
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, fix

#878 Feat: add variable set support for environment schema
  client/configuration_set_assignment.go
  client/environment.go
  env0/data_environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, api-client, integration-tests, feature

#880 Fix: fix k8s_namespace drift
  client/environment.go
Labels: ready to merge, api-client, fix

#883 Fix: add force destroy project to flaky tests
  tests/integration/013_downstream_environments/main.tf
  tests/integration/014_environment_scheduling/main.tf
Labels: ready to merge, integration-tests, fix

#884 Fix: fix 029_provider flaky test by adding sleep
  tests/integration/003_configuration_variable/main.tf
  tests/integration/029_provider/main.tf
Labels: ready to merge, integration-tests, fix
