Repository env0/terraform-provider-env0, pull requests merged in 2024-12, with the labels that each got.

#985 Fix: increase sleep time to avoid flaky test
  tests/integration/003_configuration_variable/main.tf
Labels: integration-tests, fix

#988 Fix: "all_teams" data resource causes 429 status code requests
  client/api_client.go
  client/configuration_variable_test.go
  client/memoize.go
  client/memoize_test.go
  client/team.go
  env0/data_teams.go
Labels: ready to merge, provider, api-client, fix

#992 Fix: fix security issues
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  README.md
  go.mod
  go.sum
  tests/harness.go
Labels: ready to merge, integration-tests, dependency-change, github-actions, fix

#991 Feat: remove default template type
  env0/resource_template.go
  env0/resource_template_test.go
Labels: ready to merge, provider, feature

#995 Fix: security issue
  go.mod
  go.sum
Labels: ready to merge, dependency-change, fix

#998 Feat: resource env0_environment - add support to change template_id
  env0/resource_environment.go
  env0/resource_environment_test.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, integration-tests, feature
