Repository env0/terraform-provider-env0, pull requests merged in 2025-03, with the labels that each got.

#1020 Feat: Environment Resource with properties from Project gets created …
  client/environment.go
  env0/data_environment.go
  env0/resource_environment.go
  env0/resource_environment_test.go
Labels: ready to merge, provider, api-client, feature

#1022 Chore: Improve Custom Flow Docs
  examples/resources/env0_custom_flow/resource.tf
  examples/resources/env0_custom_flow_assignment/resource.tf
Labels: ready to merge, examples, chore

#1019 Feat: Support Drift Remediation
  client/environment_drift_detection_test.go
  client/environment_scheduling.go
  client/project_policy.go
  client/project_policy_test.go
  env0/data_project_policy.go
  env0/data_project_policy_test.go
  env0/resource_drift_detection.go
  env0/resource_drift_detection_test.go
  env0/resource_project_policy.go
  env0/resource_project_policy_test.go
  examples/resources/env0_environment_drift_detection/resource.tf
  examples/resources/env0_project_policy/resource.tf
  tests/integration/011_policy/main.tf
Labels: ready to merge, provider, api-client, integration-tests, examples, feature
