Repository env0/terraform-provider-env0, pull requests merged in 2025-06, with the labels that each got.

#1049 Fix: Add resolve from code to opentofu version
  env0/resource_environment_discovery_configuration.go
Labels: ready to merge, provider, fix

#1055 feat: implement rate limiting for API requests with token bucket
  .github/workflows/ci.yml
  client/http/client.go
  client/http/client_test.go
  client/http/rate_limiter_test.go
  env0/resource_aws_cloud_configuration.go
  go.mod
  go.sum
Labels: ready to merge, provider, api-client, dependency-change, github-actions

#1057 Fix: allow ENVIRONMENT_OUTPUT inline configuration
  env0/validators.go
  tests/integration/012_environment/main.tf
Labels: ready to merge, provider, integration-tests, fix

#1058 feat: add support for CLOUD_TO_CODE and SMART_REMEDIATION drift strategies
  docs/data-sources/project_policy.md
  docs/resources/environment_drift_detection.md
  docs/resources/project_policy.md
  env0/data_project_policy.go
  env0/resource_drift_detection.go
  env0/resource_project_policy.go
  tests/integration/011_policy/main.tf
  tests/integration/040_drift_detection/conf.tf
  tests/integration/040_drift_detection/expected_outputs.json
  tests/integration/040_drift_detection/main.tf
Labels: ready to merge, provider, integration-tests, docs, feature
